<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css"/>
        
    </head>
    <body>
        <div class="sidebar">
            <p id="products">Products:</p>
            <a href="/">Home page</a>
            <a href="/gloves">Gloves</a>
            <a href="/beanies">Beanies</a>
            <a href="/masks">Masks</a>
        </div>
        