<%-include("./partials/header.ejs") %>
<div class="main">
    <h1>Beanies</h1>
    <div class="box">
        <% beanies.map(beanie => { %>
            <div><p class="item"><%= beanie.name %></p><p class="availability"><%= beanie.available %></p></div>
            <% }); %>
    </div>
</div>

    <%-include("./partials/footer.ejs") %>